@import "tailwindcss";
/* tailwindcss imports */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  background-color: #fcf8f0; 
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}